.numbers__wrap {
    grid-gap: 8px;
    display: grid;
    gap: 8px;
    grid-auto-rows: 48px;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px 4px 8px;

}

.number {
    background: #fff;
    border: 1px solid #e2e3e5;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    width: 100%;
    cursor: pointer;
    &:hover{
        border: 2px solid #5d5fef;
        transition: border ease .1s;
    }
    &:active {
        transition: all .1s;
        background: #5d5fef;
        color: #fff;
    }
}
.number__big {
    grid-column: 1/3;
}

.number__pointer_active{
    pointer-events: none;
}