@font-face {
  font-display: swap;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/HelveticaNeueCyr-Roman.woff") format("woff");
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica,sans-serif;
  font-weight: 500;
  margin-top: 40px;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #9466ff;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #70f;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
}

p {
  margin: 0;
}


.calc__wrapper{
    max-width: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}


.item__border {
  border-top: 1px solid #5d5fef !important;
  position: relative;
}

.item__border::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  transform: rotateZ(45deg);
  left: -3px;
  top: -3px;
  background: #5d5fef;
}

.item__border::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  transform: rotateZ(45deg);
  right: -3px;
  top: -3px;
  background: #5d5fef;
}